aiohttp
asyncio
flask
flask-cors
flask-limiter
redis
requests
python-dotenv
gunicorn
dataclasses
geoip2
maxminddb
urllib3
certifi
charset-normalizer
idna
click
itsdangerous
Jinja2
MarkupSafe
Werkzeug
limits
ordered-set
pytz
six
async-timeout
multidict
yarl
aiosignal
frozenlist
attrs
typing-extensions